---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Customers from '../components/Customers.astro';
import Contact from '../components/Contact.astro';
import Booking from '../components/Booking.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Welcome to Astro.">
	<Header />
	<main>
		<Hero />
		<Services />
		<Customers />
		<Contact />
		<Booking />
		<Footer />
	</main>
</Layout>