---
const { label, link, color } = Astro.props;

const colorCSS: Record<string, string> = {
    red: "bg-red-500",
    green: "bg-green-500",
    blue: "bg-blue-500",
};
---

<button
    class="mt-2 px-8 py-4 w-auto text-lg bg-gray-800 rounded-3xl text-center text-gray-100 cursor-pointer hover:bg-gray-600 transition-colors duration-500 ease-in-out hover:shadow-sm"
>
    {label}
</button>
