---
// Basic Astro data

import { navigation } from "../data/nav";
import { infoMSG, infoLocation } from "../data/information";
import Logo from "./Logo.astro";
import SocialIcon from "./ui/SocialIcon.astro";
---

<div class="bg-mdgpurple flex justify-center w-screen">
    <div>
        <!-- Subheader on Top -->
        <div
            class="h-11 text-white flex justify-between max-w-screen-xl w-screen items-center font-semibold"
        >
            <div>C.C. La Alhóndiga, Local 8 - Buenavista del Norte</div>
            <div class="flex gap-2">
                <SocialIcon link="#" type="facebook" />
                <SocialIcon link="#" type="instagram" />
                <SocialIcon link="#" type="twitter" />
            </div>
        </div>
        <!-- Main Header -->
    </div>
</div>
<div class="bg-orange-100 flex justify-center">
    <div class="min-h-24 w-[1024px] flex flex-col justify-center items-center">
        <div><Logo /></div>
        <div>
            {
                navigation.map((item, index) => (
                    <div class="inline-block px-4 py-2 text-gray-600 hover:text-gray-900 font-semibold">
                        <a class="uppercase text-sm" href={item.link}>
                            {item.name}
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</div>
