---
// Basic Astro data

import { navigation } from "../data/nav";
import { infoMSG, infoLocation } from "../data/information";
import Logo from "./Logo.astro";
import SocialIcon from "./ui/SocialIcon.astro";
---

<div class="bg-mdgpurple flex justify-center w-screen">
    <div>
        <!-- Subheader on Top -->
        <div
            class="h-11 text-white flex justify-between max-w-screen-xl w-screen items-center font-semibold"
        >
            <div>C.C. La Alhóndiga, Local 8 - Buenavista del Norte</div>
            <div class="flex gap-2">
                <SocialIcon link="#" type="facebook" />
                <SocialIcon link="#" type="instagram" />
                <SocialIcon link="#" type="twitter" />
            </div>
        </div>
        <!-- Main Header -->
    </div>
</div>
<div class="bg-white flex justify-center">
    <div
        class="min-h-28 max-w-screen-xl w-screen flex justify-between items-center"
    >
        <div><Logo /></div>
        <div class="flex gap-5">
            {
                navigation.map((item, index) => (
                    <div class=" px-4 py-2 text-gray-600 hover:text-pink-900">
                        <a class="text-xl" href={item.link}>
                            {item.name}
                        </a>
                    </div>
                ))
            }
        </div>
    </div>
</div>
