---
import "@fontsource/birthstone";
import "@fontsource-variable/urbanist";
import Button from "./Button.astro";
---

<div
    class="flex items-center justify-center bg-[#aa828a] w-screen
bg-cover bg-no-repeat bg-center h-[650px]"
    style="background-image:
url('/resources/img/hero_base.png')"
>
    <div class="flex max-w-screen-xl w-screen">
        <div class="basis-1/2">
            <div class="text-8xl pb-10">La belleza es nuestro arte</div>
            <div class="text-xl pb-10">
                Trabajamos no solo para satisfacer tus necesidades, nuestros
                estilistas expertos crean obras de arte profesionales y tratan
                de superar tus expectativas.
            </div>
            <Button label="Reservas" />
        </div>
        <div></div>
    </div>
</div>
