---
import '@fontsource/birthstone';
---

<div class="min-h-[450px] bg-cyan-300 min-w-full">
<div class="flex min-w-full items-center min-h-full">
    <div class="basis-1/2 flex flex-col items-center pt-24 min-h-[450px]">
        <div class="font-birthstone text-6xl">Centro de Belleza Marleny</div>
        <div>Donde cada detalle resalta la esencia única que te hace brillar.</div>
        <div class="pt-14">Consulta nuestra nueva gama de productos para el cuidado de la piel</div>
    </div>
    <div class="basis-1/2  flex items-center justify-center min-h-[450px]">Right</div>
</div>
</div>