---
import { type Promo } from "../data/general";

import Offer from "../components/Offer.astro";
// Data
const { offers } = Astro.props;
---

<div class="bg-white p-20 flex justify-center w-screen">
    <div class="max-w-screen-xl w-screen">
        <h2 class="text-center text-5xl pb-16">Promociones</h2>
        <div class="grid grid-cols-3 gap-5 p-8">
            {offers.map((offer: Promo) => <Offer promo={offer} />)}
        </div>
    </div>
</div>
