---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

const images = import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/marcas/*.png",
);

const marcas = Object.entries(images).map(([path, image]) => ({
    path,
    image,
}));

console.log("marcas", marcas);
---

<div class="bg-white p-20 flex justify-center w-screen">
    <div class="max-w-screen-xl w-screen flex items-center flex-col">
        <h2 class="text-center text-5xl pb-16">Nuestras marcas</h2>
        <div class="flex justify-between max-w-screen-lg gap-5">
            <div class="grow-0 cursor-pointer flex items-center" id="left">
                <Icon name="left" class="text-5xl" />
            </div>
            <div class="grow overflow-hidden max-w-3xl">
                <div
                    class="flex gap-12 transition-transform duration-500 ease-in-out"
                    id="container"
                >
                    {
                        marcas.map((marca) => (
                            <div class="grow min-w-[150px] bg-gray-300 flex justify-center items-center">
                                <Image
                                    src={marca["image"]()}
                                    alt="Marca"
                                    class="p-5"
                                />
                            </div>
                        ))
                    }
                </div>
            </div>
            <div class="grow-0 cursor-pointer flex items-center" id="right">
                <Icon name="right" class="text-5xl" />
            </div>
        </div>
    </div>
</div>

<script>
    // Add a const with the value of the tailwindcss to move the images to the right by 120 px

    let currentPosition = 0;
    let counter = 0;
    // transition-transform duration-300 ease-in-out";
    const moveRight = () => {
        // Remove the class with the current position
        if (counter < 2) {
            const container = document.getElementById("container");
            currentPosition += 200;
            container &&
                container.style.setProperty(
                    "transform",
                    `translateX(-${currentPosition}px)`,
                );
            counter++;
        }
    };

    const moveLeft = () => {
        // Remove the class with the current position
        if (counter > 0) {
            const container = document.getElementById("container");
            currentPosition -= 200;
            container &&
                container.style.setProperty(
                    "transform",
                    `translateX(-${currentPosition}px)`,
                );
            counter--;
        }
    };

    // Add the event listener to the right arrow
    document &&
        document.getElementById("right")?.addEventListener("click", moveRight);
    document &&
        document.getElementById("left")?.addEventListener("click", moveLeft);
</script>
