---
import Bento from "../components/Bento.astro";
---

<div
    class="bg-white bg-[url('/resources/img/bg-pattern.jpg')] bg-[length:400px_400px] bg-repeat p-10 min-h-40 flex justify-center bg-opacity-35 w-screen"
    id="works"
>
    <div class="max-w-screen-xl w-screen">
        <h2 class="text-center text-5xl pb-16 mt-5">Nuestros trabajos</h2>
        <div><Bento /></div>
    </div>
</div>
